body {
  margin: 0;
  font-family: futura;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'futura';
  src: local('Futura PT Light'), url('./assets/fonts/Futura PT Light.ttf') format('truetype');
}
